{# src/Bdx/TutoratBundle/Resources/views/Lesson/index.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Liste des matières</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Informations</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.information }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('lesson_show', { 'id': entity.id }) }}">Détails</a>
                    </li>
                    <li>
                        <a href="{{ path('lesson_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('lesson_new') }}">
            Ajouter une matière
        </a>
    </li>
</ul>
{% endblock %}
