{# src/Bdx/TutoratBundle/Resources/views/Lesson/new.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block stylesheets %}
{% stylesheets '@BdxTutoratBundle/Resources/public/css/form.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{{ parent() }}
{% endblock %}


{% block content %}
{% if successMessage %}
<div>
	{{ successMessage }}
</div>
{% endif %}
{% if errorMessage %}
<div>
	{{ errorMessage }}
</div>
{% endif %}
<div>
	<form action="{{ path('BdxTutoratBundle_lesson_new') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<input type="submit" />
	</form>
</div>
{% endblock %}

