{# src/Bdx/TutoratBundle/Resources/views/Lesson/show.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Matière</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Information</th>
            <td>{{ entity.information }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('lesson') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('lesson_edit', { 'id': entity.id }) }}">
            Modifier la matière
        </a>
    </li>
    <li>
        <a href="{{ path('lesson_delete', { 'id': entity.id }) }}">
			Supprimer la matière
		</a>
    </li>
</ul>
{% endblock %}
