{# src/Bdx/TutoratBundle/Resources/views/Student/edit.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Modification de la fiche d'étudiant</h1>

<form action="{{ path('student_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Modifier</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('student_delete', { 'id': entity.id }) }}">
            Supprimer la fiche
        </a>
    </li>
</ul>
{% endblock %}
