{# src/Bdx/TutoratBundle/Resources/views/Student/show.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Fiche d'étudiant</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Téléphne</th>
            <td>{{ entity.tel }}</td>
        </tr>
        <tr>
            <th>Utilisateur associé</th>
            <td>{{ entity.user }}</td>
        </tr>
        <tr>
            <th>Informations</th>
            <td>{{ entity.information }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('student_edit', { 'id': entity.id }) }}">
            Modifier la fiche
        </a>
    </li>
    <li>
        <a href="{{ path('student_delete', { 'id': entity.id }) }}">
            Supprimer la fiche
        </a>
    </li>
</ul>
{% endblock %}
