{# src/Bdx/TutoratBundle/Resources/views/Tutor/index.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Liste des tuteurs</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Informations</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.information }}</td>
            <td>
				<a href="{{ path('tutor_show', { 'id': entity.id }) }}">Détails</a> /
				<a href="{{ path('tutor_edit', { 'id': entity.id }) }}">Modifier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('tutor_new') }}">
            Ajouter un tuteur
        </a>
    </li>
</ul>
{% endblock %}
