{# src/Bdx/TutoratBundle/Resources/views/layout.html.twig #}


{% extends '::base.html.twig' %}


{% block title %}Tutorat{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/bdxtutorat/css/style_red.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<header>
	<div id="header_inner" class="fluid">
		<div id="logo">
			<h1>{% block header_title %}Tutorat informatique{% endblock %}</h1>
			<h2>{% block header_subtitle %}By NodeThirtyThree Design{% endblock %}</h2>
		</div>
		<nav id="menu">
			<ul>
				{% block header_menu %}
				<li><a href="{{ path('BdxTutoratBundle_homepage') }}">Home</a></li>
				<li><a href="{{ path('lesson') }}" class="active">Lesson</a></li>
				<li><a href="{{ path('tutor') }}" >Tutor</a></li>
				<li><a href="{{ path('student') }}" >Student</a></li>

				{% if is_granted('ROLE_USER') %}
				<li><a href=" {{ path('BdxTutoratBundle_logout') }} ">Logout</a></li>
				{% else %}
				<li><a href=" {{ path('BdxTutoratBundle_login') }} ">Register</a></li>
				<li><a href=" {{ path('BdxTutoratBundle_login') }} ">Login</a></li>
				{% endif %}
				{% endblock %}
			</ul>
		</nav>
	</div>
</header>

<nav>
	{% block menu %}
	{% endblock %}
</nav>

<section>
	{% block content %}
	{% endblock %}
</section>

<footer class="fluid">
	Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a>.
</footer>
{% endblock %}

